<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>OpenNTFS File System</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>FSMediaTypes</key>
		<dict>
			<key>Windows_NTFS</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>Windows_NTFS</string>
					<key>Leaf</key>
					<true/>
				</dict>
				<key>FSProbeOrder</key>
				<integer>1000</integer>
			</dict>
		</dict>
		<key>FSPersonalities</key>
		<dict>
			<key>OpenNTFS</key>
			<dict>
				<key>FSName</key>
				<string>OpenNTFS</string>
				<key>FSfileObjectsAreCaseSensitive</key>
				<false/>
			</dict>
		</dict>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSShortName</key>
		<string>openntfs</string>
		<key>FSSupportsBlockResources</key>
		<true/>
		<key>FSSupportsGenericURLResources</key>
		<false/>
		<key>FSSupportsPathURLs</key>
		<false/>
		<key>FSSupportsServerURLs</key>
		<false/>
	</dict>
</dict>
</plist>
